<article>
	<h1>
		<span class="focusing"><%= page.title %></span> 
		<span class="the">The</span> 
		<span class="heart">Heart</span>
	</h1>
	<cite>
		by <span class="name"><%= page.author %></span> | 
		Fanart by <span class="name">Jay Drowns</span>
	</cite>
	<img src="<%= page.image %>" alt="not actually Fabio" />
	<aside>page quote here</aside>
	<main>
		<p> <%- page.content %></p>
	</main>
</article>

        
        


<%- css('css/blog-post') %>
