<section class="characters">
	<div class="container p-6 py-12 mt-5">
		<div class="header">
			<h1 class="font-bold text-center text-responsive">Fanart</h1>
			<p class="mx-auto mt-4 text-xl text-center">All the colourful characters from Hermione Granger into the Multiverse</p>
		</div><hr />





<section class="grid">
    <% site.categories.findOne({name: 'fanart'}).posts.sort('id').each(function(post) { %> 
    <figure>
      <img src="<%= post.image %>" alt="<%= post.slug %>">
      <a href="<%= post.path %>">
      <figcaption>
        <div><div><h3><%= post.title %></h3></div></div>
      </figcaption>
      </a>
    </figure>
    <% })%>


  </section>

</div>

</div>
</section>

<%- js('js/grid') %> 
<%- css('css/grid') %>
