<section class="search" id="search">
	<div class="container p-6 py-12 mt-5">
		<div class="header">
			<h4 class="font-bold text-center text-responsive">Serach HMS Harmony...</h4>
			<p class="mx-auto mt-4 text-xl text-center">Here you can go looking for any writer, artist, fanfiction, fanart, quote, podcast, and blogpost you want information on...</p>
		</div><hr />


    <div id="post-list">
      <input type="text" class="fuzzy-search form-control" placeholder="Search posts..." /><hr />


<div class="art-container">
        <div class="row mt-40 list">

      <% site.posts.sort('id').each(function(post) { %> 



                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="box1">
                        <img class="image" src="<%= post.image %>" alt="<%= post.slug %>">
                        <h3 class="title"><a href="<%= post.path %>"><%= post.title %></a></h3>
                   </div>
                </div>
        

    <% })%>



    </div>

  </div>
  <ul class="pagination"></ul>
  </div>
</div>

</div>
</section>

<%- js('js/search') %> 
