<section class="home">
	<div class="container p-6 py-12 mx-auto">
		<div class="header">
			<h1 class="font-bold text-center text-responsive "><%= page.title %></h1>
		</div><hr />


    <div class="row">
      <div class="col-sm-3 my-3">
          <img class="w-100 mb-1 img rounded" src="<%= page.image %>" alt="Photo of <%= page.title %>">
          <table class="table w-100 ">
              <thead >
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Inkname:</th>
                  <td><strong><%= page.inkname %></strong></td>
                </tr>
                <tr>
                  <th scope="row">Ffnet:</th>
                  <td><strong><a target="_blank" href="<%- page.ffnet %>"><%= page.inkname %></a></strong></td>
                </tr>
                <tr>
                  <th scope="row">A03:</th>
                  <td><strong><a target="_blank" href="<%- page.ao3 %>"><%= page.inkname %></a></strong></td>
                </tr>
                <tr>
                  <th scope="row">Artwork by:</th>
                  <td><strong><a target="_blank" href="<%- page.arturl %>"><%- page.artwork %></a></strong></td>
                </tr>

                </tbody>
            </table>
      </div>

      <div class="col-sm-9 my-3">
        <h2>Introduction</h2><hr />
        <p><%- page.introduction %></p><br />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 my-3">

        <h2>History</h2><hr />
        <p><%- page.history %></p><br />

        <h2>Characteristics</h2><hr />
        <p><%- page.characteristics %></p><br />

        <h2>Timeline</h2><hr />
        <p><%- page.timeline %></p><br />

      </div>
    </div>


    <div class="row">
      <div class="col-sm-6 my-3">

        <h2>Fanfiction</h2><hr />

        <div class="wrapper">
          <div class="gallery">
            <ul>
                <% if (page.fanfiction.length > 0) { %>
                  <%for (i=0; i < page.fanfiction.length; i ++){ %>
              <li>
                <a href="/fanfiction/<%= page.fanfiction[i] %>"><img src="../../images/fanfiction/<%= page.fanfiction[i] %>.jpg"></a>
              </li>
      
                  <%}%>
                <% }  %>
            </ul>
          </div>
        </div>


      </div>
    </div>
</section>
        
        


