<div class="collumn">
  <div class="head">
    <span class="headline hl3"><%= post.title %></span>
      <p><span class="headline hl6">by <%= post.author %></span></p>
  </div>
  <figure class="figure">
    <img class="media" src="<%= post.gif %>" alt="">
      <figcaption class="figcaption"><%= post.gif_tagline %></figcaption>
  </figure>
  <p><%= post.summary %></p>
  </div>